/* Place site styles below! 

Happy Coding! */
body {
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
}
.main-nav {
	background: #fafafa;
	border-bottom: 2px solid #ccc;
	width: 100%;
}
.main-nav li a {
	
}

.container {
	
}

#hero {

}
